#content{
    border-width: 1px; 
    margin-top: -15px;
    position: fixed;; 
    left: 250px;
}

#canvas{
    border: 1px solid black; 
}

#Tools{
    width:18%;
    height:905%;
    float: left;
    text-align: center;
}

#words{
    padding: 10px 10px;
    display: inline-block;
    background:rgba(255, 255, 255, 0.87); 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#wordform{
    display: inline-block;
    background:rgba(255, 255, 255, 0.87); 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#wordsize{
    display: inline-block;
    background:rgba(255, 255, 255, 0.87); 
    border:0 none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#choosefile{
    opacity: 0;
    position: absolute;
    width: 68px;
    height: 56px;
}

.btn{
    border: 0px;
    width: 68px;
    height: 56px;
}

.btn:hover{
    box-shadow: inset 0 0px 0 0 rgba(0,0,0,0.6), 0 0 8px 0 rgba(0,0,0,0.5);
}
.btn:focus{
    position: relative;
    box-shadow: 2px 2px 5px #666666;
    outline: 0;
}

.btn2{
    position: relative;
    top: 65px;
    width: 5%;
    height: 56px;
    right: 210px;
    float: right;
}


#upload{
    border: 0px;
    top: 70px;
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    right: 200px;
}
#upload:hover{
    box-shadow: inset 0 0 0 0 rgba(0,0,0,0.6), 0 0 8px 0 rgba(0,0,0,0.5);
}
#upload:focus{
    position: relative;
    box-shadow: 2px 2px 5px #666666;
    outline: 0;
}

.GIF{
    float: right;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 20px;
}
  
.slider.round:before {
    border-radius: 80%;
}

.default{
    cursor: default;
}
.crosshair {cursor: crosshair;}
.text {cursor: text;}
.pencil {cursor: url(./src/pencil_cursor.png), auto;}
.eraser {cursor: url(./src/eraser_cursor.png), auto;}
.rainbow {cursor: url(./src/crayon_cursor.png), auto;}
